<!doctype html>

<html lang="en" class="h-100">

{{> partials/head}}

<body class="d-flex flex-column h-100">
{{> partials/header}}
{{> partials/pages/home}}
{{> partials/footer}}
<script src="js/scripts.js"></script>
</body>
</html>