<head>
    <meta charset="utf-8">

    <title>Docker Compose LAMP: Hello World</title>
    <meta name="description" content="Hello World">
    <meta name="author" content="dct2012">

    {{> partials/includes}}

    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>